
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="assets/css/bootstrap.css">-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/css/ready.css">
    <link rel="stylesheet" href="assets/css/demo.css">
    <style>
        body{background:#ddd;font:14px/1.7 tahoma,'\5fae\8f6f\96c5\9ed1',sans-serif;}
        h1,h2,h3{font-size:36px;line-height:1;}
        h2{font-size:24px;}
        h3{font-size:18px;}
        fieldset{margin:2em 0;}
        fieldset legend{font-weight:bold;font-size:16px;line-height:2;}
        a{color:#06f;text-decoration:none;}
        a:hover{color:#00f;}

        .wrap{width:800px;margin:0 auto;padding:20px 40px;border-radius:8px;background:#fff;box-shadow:0 0 10px rgba(0,0,0,0.5);}
    </style>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">Audit application</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Audit application</h4>
                                <p class="card-category">Here is a table for this message</p>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <legend>File input</legend>
                                    <span style="color:#1e7e34;">ps: please upload .zip or .rar file</span><br>
                                    <!--form-control-file-->
                                    <input type="file" class=" a-upload" id="fileUpload"  onchange="angular.element(this).scope().validateFiles()">
                                    <div style="color: #dc3545" ng-if="fileFromatError">Sorry,your  file type is not correct</div>
                                    <div style="color: #dc3545" ng-if="fileSizeError">Sorry,your  file size is too big</div>
                                </div>
                                <div class="form-group">
                                    <legend>Current file</legend>
                                    <a href="javascript:void(0)" ng-click="downloadApplyFile(applyFile.fileName)">{{applyFile.fileName}}</a>
                                </div>

                                <div ng-show = "applyInfosForUser.length === 0">
                                    <div class="card-sub">
                                        No one to apply for the professor
                                    </div>
                                </div>
                                <div ng-show = "applyInfosForUser.length > 0">
                                    <legend>
                                        <div class="card-sub">
                                            This is the table view of  all applications for Professor :
                                        </div>
                                    </legend>
                                    <table class="table mt-3">
                                    <thead>
                                    <tr>
                                        <th scope="col">#Status</th>
                                        <th scope="col">Apply user</th>
                                        <th scope="col">File name</th>
                                        <th scope="col">#Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="applyInfo in applyInfosForUser">
                                        <td ng-if="applyInfo.applyType == 1"><span style="color: #2e6da4">Review</span></td>
                                        <td ng-if="applyInfo.applyType == 2"><span style="color: #1e7e34">Pass</span></td>
                                        <td ng-if="applyInfo.applyType == 3"><span style="color: red">Reject</span></td>
                                        <td>{{applyInfo.applyUser}}</td>
                                        <td><a href="javascript:void(0)" ng-click="download(applyInfo.applyId,applyInfo.fileName)">{{applyInfo.fileName}}</a></td>
                                        <td ng-if="applyInfo.applyType == 1">
                                            <button type="button"  title="Edit Task" ng-click = "editApplyType(applyInfo.applyId,applyInfo.applyUser)"
                                                    data-toggle = "modal" data-target = "#modalStatus"
                                                    class="btn btn-link btn-simple-primary">
                                                <i class="la la-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>

                                <div ng-show = "applyInfosForPf.length === 0">
                                    <legend>
                                        <div class="card-sub">
                                            No one to apply for change Type
                                        </div>
                                    </legend>
                                </div>
                                <div ng-show = "applyInfosForPf.length > 0">
                                    <div class="card-sub">
                                        This is the  table view of  all applications for Changing type:
                                    </div>
                                    <table class="table mt-3">
                                        <thead>
                                        <tr>
                                            <th scope="col">#Status</th>
                                            <th scope="col">Apply user</th>
                                            <th scope="col">File name</th>
                                            <th scope="col">Current Type</th>
                                            <th scope="col">#Edit</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="applyInfo in applyInfosForPf">
                                            <td ng-if="applyInfo.applyType == 1"><span style="color: #2e6da4">Review</span></td>
                                            <td ng-if="applyInfo.applyType == 2"><span style="color: #1e7e34">Pass</span></td>
                                            <td ng-if="applyInfo.applyType == 3"><span style="color: red">Reject</span></td>
                                            <td>{{applyInfo.applyUser}}</td>
                                            <td><a href="javascript:void(0)" ng-click="download(applyInfo.applyId,applyInfo.fileName)">{{applyInfo.fileName}}</a></td>
                                            <td ng-repeat=" pfInfo in pfInfoList" ng-if="applyInfo.applyUser === pfInfo.pfName">
                                                {{pfInfo.pfType}}
                                            </td>
                                            <td ng-if="applyInfo.applyType == 1">
                                                <button type="button"  title="Edit Task" ng-click = "editApplyType(applyInfo.applyId,applyInfo.applyUser)"
                                                        data-toggle = "modal" data-target = "#modalStatus"
                                                        class="btn btn-link btn-simple-primary">
                                                    <i class="la la-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
                <p>
                    <b>We'll let you know when it's done</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <!--filters  modalStatus   modalUser-->
    <div class="modal fade" id="modalStatus" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 680px;" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title"><i class="la la-frown-o"></i> Review</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!--<label class="control-label">taskId  :  {{taskInfo.taskId}}</label><br>-->
                        <table class="table table-striped">
                            <tr>
                                <td><h6>Type:</h6></td>
                                <td>
                                    <select ng-model="selectedType">
                                        <option ng-repeat="x in pjTypeInfoList" value="{{x.pjType}}">{{x.pjType}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-click="changeApplyType(applyIdModal,'2',
                            applyUserModal,selectedType)" data-dismiss="modal">Pass</button>
                    <button type="button" class="btn btn-secondary"
                            ng-click="changeApplyType(applyIdModal,'3',
                            applyUserModal,'')"data-dismiss="modal">Reject</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h6 class="modal-title"><i class="la la-frown-o"></i> User profiles</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!--<label class="control-label">taskId  :  {{taskInfo.taskId}}</label><br>-->
                        <table class="table table-striped">
                            <tr>
                                <td><h6>Username  :</h6></td>
                                <td><h6 >{{userInfo.userName}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6>UserNickname  :</h6></td>
                                <td><h6 >{{userInfo.userNickname}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6 >Gender  :</h6></td>
                                <td><h6 >{{userInfo.userGender}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6 >Phone  :</h6></td>
                                <td><h6 >{{userInfo.userPhone}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Address  :</h6></td>
                                <td><h6 >{{userInfo.userAddress}}</h6></td>
                            </tr>
                            <tr>
                                <td><h6>Introduce  :</h6></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2"><h6 >{{userInfo.userIntroduce}}</h6></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div></body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/jquery.cxselect.js"></script>
<script>


    $(function () { $("[data-toggle='tooltip']").tooltip(); });
    $(function () {
        $("#slider").slider({
            range: "min",
            max: 100,
            value: 40,
        });
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300]
        });
    });
</script>
</html>