<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="IndexApp" ng-controller = "indexController">
    <div>
        buy
        <select ng-model="buy1"
                ng-change="buy1Change(buy1)">
            <option ng-repeat="item in name">{{item}}</option>
        </select>
        sell
        <select ng-model="sell1"
                ng-change="sell1Change(sell1)">
            <option ng-repeat="item in name">{{item}}</option>
        </select>
        buy2
        <select ng-model="moneyAccount2"
                ng-change="professionChange2(moneyAccount2)">
            <option ng-repeat="item2 in name2">{{item2}}</option>
        </select>
        sell2
        <select ng-model="moneyAccount1"
                ng-change="professionChange1(moneyAccount1)">
            <option ng-repeat="item2 in name2">{{item2}}</option>
        </select>

    </div>
    <input type="button" ng-click="openTaskModal()">

    <script type="text/ng-template" id="myModalContent.html" >
        <div>
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close"><span aria-show="true"></span></button>
                <h4 class="modal-title">ddd</h4>
            </div>
            <div class="modal-body">
                <div class="modal-input-group">
                    ddd:<input type="text" class="motal-input form-control" ng-model="student.name"/>
                </div>
                <div class="modal-input-group">
                    ddd:<input type="text" class="motal-input form-control" ng-model="student.sex"/>
                </div>
                <div class="modal-input-group">
                    ddd:<input type="text" class="motal-input form-control" ng-model="student.major"/>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="ok()">确认</button>
            </div>
        </div>
    </script>
</div>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="assets/js/angular-animate.js"></script>
<script src="controller/app.module.js"></script>
<script src="controller/indexCtrl.js"></script>
<script src="service/indexServ.js"></script>
<script src="modal/taskInfoModal.js"></script>


<!--<script type="text/javascript" src="../static/controller/testCtrl2.js"></script>-->
</body>
</html>