
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="assets/css/ready.css">
<link rel="stylesheet" href="assets/css/demo.css">


<script src="assets/js/angular.min.js"></script>
<script src="assets/js/ui-bootstrap-tpls-2.5.0.js"></script>
<script src="assets/js/angular-route.js"></script>
<script src="assets/js/angular-animate.js"></script>
<script src="assets/js/date.format.js"></script>
<script src="controller/app.module.js"></script>
<script src="controller/pjDetailCtrl.js" ></script>
<script src="service/pjDetailServ.js" ></script>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">Component</h4>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Project type</h4>
                                <p class="card-category">Here is a project type for this message</p>
                            </div>
                            <div class="card-body">
                                <p class="demo" ng-repeat="pjInfo in pjInfoList">
                                    <button class="btn btn-info" data-toggle="tooltip" data-placement="right" title="{{pjInfo.pjTypeDescription}}">{{pjInfo.pjType}}</button><br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" id="professPage">
                                <h4 class="card-title">Professor</h4>
                                <p class="card-category">Here are some Professors,and you can understand</p>
                            </div>
                            <div class="card-body">
                                <p class="demo">
                                    <span ng-repeat="pjInfo in pjInfoList">
                                        <label class="form-radio-label">
                                            <span ng-if="pjInfo.pjType === '基础研究'">
                                                <input class="form-radio-input" type="radio" name="optionsRadios" ng-click="getPfList(pjInfo.pjType,0);refreshActiveCode()" checked>
                                                <span class="form-radio-sign">{{pjInfo.pjType}}</span>
                                            </span>
                                            <span ng-if="pjInfo.pjType !=  '基础研究'">
                                                <input class="form-radio-input" type="radio" name="optionsRadios" ng-click="getPfList(pjInfo.pjType,0);refreshActiveCode()">
                                                <span class="form-radio-sign">{{pjInfo.pjType}}</span>
                                            </span>
                                        </label>
                                    </span>
                                </p>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6 col-md-4" ng-repeat="pf in pfInfoListPage" id="pageAddress">
                                        <div class="thumbnail">
                                            <img ng-src="assets/icon/{{pf.pfPicture}}" height="200" width="242" alt="...">
                                            <div class="caption ">
                                                <h3>{{pf.pfNickname}}</h3><p>{{pf.pfType}}</p>
                                                <p>{{pf.pfIntroduce}}</p>
                                                <p><a href="#/submit" class="btn btn-primary" role="button">Submission</a> <a ng-click="clickDetailOfPf(pf.pfName)" data-toggle = "modal" data-target = "#modalDetail" class="btn btn-default" role="button">Detail</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination pg-primary">
                                    <div ng-show = "pageMap[0] != 1">
                                        <li class="page-item">
                                            <a class="page-link"  aria-label="Previous" ng-click="getPreviousPage()" >
                                                <span aria-hidden="true">&laquo;</span>
                                                <!--<span class="sr-only">Previous</span>-->
                                            </a>
                                        </li>
                                    </div>
                                    <span ng-repeat="page in pageMap">
                                        <li class="page-item " ng-class="(activeCode === page)? 'active':''">
                                            <a class="page-link" disabled ng-click="changeActive(page);getPfList(currentType,page-1)">{{page}}</a>
                                        </li>
                                    </span>
                                        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                                        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                                    <div ng-show = "showNext">
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Next" ng-click="getNextPage()" >
                                                <span aria-hidden="true">&raquo;</span>
                                                <!--<span class="sr-only">Next</span>-->
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" id="">
                                <h4 class="card-title">Project</h4>
                                <p class="card-category">Here are some Project,and you can understand</p>
                            </div>
                            <div class="card-body">
                                <p class="demo">
                                    <span ng-repeat="pjInfo in pjInfoList">
                                        <label class="form-radio-label">
                                            <span ng-if="pjInfo.pjType === '基础研究'">
                                                <input class="form-radio-input" type="radio" name="pjRadios" ng-click="queryPjTitle(queryData,pjInfo.pjType,'changeType')" checked>
                                                <span class="form-radio-sign">{{pjInfo.pjType}}</span>
                                            </span>
                                            <span ng-if="pjInfo.pjType !=  '基础研究'">
                                                <input class="form-radio-input" type="radio" name="pjRadios" ng-click="queryPjTitle(queryData,pjInfo.pjType,'changeType')">
                                                <span class="form-radio-sign">{{pjInfo.pjType}}</span>
                                            </span>
                                        </label>
                                    </span>
                                    <input ng-model="queryData" placeholder="please input title..." style="width: 350px; height :30px">
                                    <button type="button" class="btn btn-default" ng-click="queryPjTitle(queryData,queryPjType,'')" style="height:30px;">
                                        <span class="glyphicon glyphicon-search" style="font-size: 10px"></span>
                                    </button>
                                </p>
                                <br>
                                <div class="row col-md-12">
                                    <div ng-show = "pjInfoList.length === 0">
                                        <div class="card-sub">
                                            You don't have a related project , you can improve your personal information what can attract people to commit you
                                        </div>
                                    </div>
                                    <div ng-show = "pjInfoList.length > 0">
                                        <div class="card-sub">
                                            This is the  table view of your all project :
                                        </div>
                                        <table class="table mt-3">
                                            <thead>
                                            <tr>
                                                <th scope="col">#Status</th>
                                                <th scope="col">Project Title</th>
                                                <th scope="col">Project Type</th>
                                                <th scope="col">UserName</th>
                                                <th scope="col">ProfessName</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="pj in pjInfos">
                                                <td ng-if="pj.pjStatus == 1"><span style="color: #2e6da4">Review</span></td>
                                                <td ng-if="pj.pjStatus == 2"><span style="color: #1e7e34">Pass</span></td>
                                                <td ng-if="pj.pjStatus == 3"><span style="color: red">Reject</span></td>
                                                <td ng-if="pj.pjStatus == 4"><span style="color: #1e7e34">Finished</span></td>
                                                <td ng-if="pj.pjStatus == 5"><span style="color: red">Break</span></td>
                                                <td width="300">
                                                    <a  ng-click="getPjInfoModelData(pj.pjId)"
                                                        data-toggle = "modal" data-target = "#modalPj"
                                                        class="btn btn-link btn-simple-primary">
                                                        {{pj.pjTitle}}
                                                    </a>
                                                </td>
                                                <td width="100">{{pj.pjType}}</td>
                                                <td width="100">
                                                    <a  ng-click="getUserInfoModelData(pj.pjUser)"
                                                        data-toggle = "modal" data-target = "#modalUser"
                                                        class="btn btn-link btn-simple-primary">
                                                        @{{pj.pjUser | filterName}}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a  ng-click="clickDetailOfPf(pj.pjReviewer)"
                                                        data-toggle = "modal" data-target = "#modalDetail"
                                                        class="btn btn-link btn-simple-primary">
                                                        @{{pj.pjReviewer | filterName}}
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <ul class="pagination pg-primary">
                                        <div >
                                            <li class="page-item">
                                                <a class="page-link"  aria-label="Previous" ng-click="notifyPrePage()" >
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <!--<span class="sr-only">Previous</span>-->
                                                </a>
                                            </li>
                                        </div>
                                        <div >
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Next" ng-click="notifyNextPage()" >
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <!--<span class="sr-only">Next</span>-->
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalPj" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Pj profiles</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <!--<label class="control-label">taskId  :  {{taskInfo.taskId}}</label><br>-->
                    <table class="table table-striped">
                        <tr>
                            <td><h6>CreateDate  :</h6></td>
                            <td><h6 >{{pjInfoModel.pjCommitDate}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Description  :</h6></td>
                            <td><h6 >{{pjInfoModel.pjDescription}}</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
                <p>
                    <b>We'll let you know when it's done</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetail" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Professor profiles</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <!--<label class="control-label">taskId  :  {{taskInfo.taskId}}</label><br>-->
                    <table class="table table-striped">
                        <tr>
                            <td><h6>ProfessorName  :</h6></td>
                            <td><h6 >{{pfInfoModel.pfName}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Professor Nickname  :</h6></td>
                            <td><h6 >{{pfInfoModel.pfNickname}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Phone  :</h6></td>
                            <td><h6 >{{pfInfoModel.pfPhone}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>SubmitCount  :</h6></td>
                            <td><h6 >{{pfInfoModel.pfSubmitCount}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>SuccessCount  :</h6></td>
                            <td><h6 >{{pfInfoModel.pfSuccessCount}}</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> User profiles</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <!--<label class="control-label">taskId  :  {{taskInfo.taskId}}</label><br>-->
                    <table class="table table-striped">
                        <tr>
                            <td><h6>Username  :</h6></td>
                            <td><h6 >{{userInfoModel.userName}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>UserNickname  :</h6></td>
                            <td><h6 >{{userInfoModel.userNickname}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6 >Gender  :</h6></td>
                            <td><h6 >{{userInfoModel.userGender}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6 >Phone  :</h6></td>
                            <td><h6 >{{userInfoModel.userPhone}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Address  :</h6></td>
                            <td><h6 >{{userInfoModel.userAddress}}</h6></td>
                        </tr>
                        <tr>
                            <td><h6>Introduce  :</h6></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2"><h6 >{{userInfoModel.userIntroduce}}</h6></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script>
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
    $(function () {
        $("#slider").slider({
            range: "min",
            max: 100,
            value: 40,
        });
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 500,
            values: [75, 300]
        });
    });
</script>